body {
  background-color: #ff9c91;
  margin: 0;
}

header {
  position: absolute;
  width: 100%;
  align-items: center;
}

nav {
  height: 85px;
  background-color: #1c2938;
  font-family: "Schoolbell", cursive;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
}

li {
  font-size: 40px;
  animation-name: header-li-animation;
  animation-duration: .8s;
  animation-delay: 0.5s;
}

nav li a {
  display: block;
  padding: 21.5px;
  min-width: 120px;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  color: #ff9c91;
}

main {
  padding-top: 85px;
}

.dropdown  {
  display: block;
  float: left;
  font-size: 40px;
  vertical-align: middle;
  padding: 14px 16px;
  min-width: 120px;
  text-decoration: none;
  text-align: center;
}

.logo {
  left: 0;
  position: absolute;
  opacity: 0;
  animation-name: logo-animation;
  animation-fill-mode: both;
  animation-duration: .8s;
  animation-delay: 0.5s;
}

.admin {
  right: 0;
  position: absolute;
  opacity: 0;
  animation-name: admin-animation;
  animation-fill-mode: both;
  animation-duration: .8s;
  animation-delay: 0.5s;
}


.dropdown .dropbtn {
  font-size: 30px;
  border: none;
  color: #ff9c91;
  padding: 12px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

nav a:hover, .dropdown:hover .dropbtn .dropdown-content a:hover {
  color: #ffd5c9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1c2938;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  color: #ff9c91;
}

.dropdown:hover .dropdown-content {
  display: block;
}

* {
  box-sizing: border-box;
}

.img-content {
  float: left;
  width: 33.33%;
  padding: 3px;
}

.map-img {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.upcoming-concert {
  text-align: center;
  font-size: 60px;
  color: #1c2938;
  font-family: "Schoolbell", cursive;
}

.concert-info {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #1c2938;
  font-family: "Schoolbell", cursive;
}

.concert-contacts {
  color: #1c2938;
  font-size: 20px;
  text-align: center;
  font-family: "Schoolbell", cursive;
}

.buy-button {
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  padding: 20px;
  color: #ff9c91;
  background-color: #1c2938;
  font-size: 50px;
  font-family: "Schoolbell", cursive;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.5s;
  cursor: pointer;
}

.buy-button:hover {
  color: #ffd5c9;
  border-radius: 40px;
}

a {
  text-decoration: none;
  color: #cd3f3e;
}

a:hover {
  color: #d95c5b;
}

footer {
  margin-top: 40px;
  text-align: center;
  background-color: #1c2938;
  font-family: "Schoolbell", cursive;
  font-size: 25px;
  color: #ff9f85;
}

.copyright {
  padding: 10px;
  margin-block-end: 0em;
}

@keyframes logo-animation {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
}

@keyframes img-scale {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    to {
        transform: scale(1);
    }
}

@keyframes header-li-animation {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
}

@keyframes admin-animation {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX();
    }
}
