body {
  background-color: #ff9c91;
  margin: auto 50px;
  font-family: "Schoolbell", cursive;
}

/* header {
  position: absolute;
  width: 100%;
  align-items: center;
} */
p {
  text-align: justify;
}

nav {
  background-color: #1c2938;
}

h3 {
  text-align: center;
  color: #1c2938;
  font-size: 50px;
}

/* ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
} */
li {
  font-size: 40px;
  animation-name: header-li-animation;
  animation-duration: .8s;
}

nav li a {
  display: block;
  padding: 21.5px;
  min-width: 120px;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  color: #ff9c91;
}

a:hover {
  text-decoration: none;
}

.dropdown  {
  display: block;
  float: left;
  vertical-align: middle;
  padding: 14px 16px;
  min-width: 120px;
  text-decoration: none;
  text-align: center;
}

.navbar-brand {
  padding: 21.5px;
  min-width: 120px;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  color: #ff9c91;
  animation-name: logo-animation;
  animation-fill-mode: both;
  animation-duration: .8s;
}

/* .dropdown .dropbtn {
  font-size: 30px;
  border: none;
  color: #ff9c91;
  padding: 12px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
} */

nav a:hover, .dropdown:hover .dropbtn  {
  color: #ffd5c9;
}

.dropdown-menu {
  background-color: #1c2938;
}

.dropdown-menu a {
  text-align: left;
  color: #ff9c91;
}

.dropdown-menu a:hover {
  color: #ffd5c9;
  background-color: inherit;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* * {
  box-sizing: border-box;
} */

.img-content {
  float: left;
  width: 33.33%;
  padding: 3px;
}

img:hover {
  animation-name: img-scale;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

.bio {
  margin: auto;
  text-align: justify;
  font-size: 25px;
  color: #1c2938;
}

.album-name {
  display: block;
  width: 50%;
  float: left;
  margin: 0;
}

.album-logo {
  display: block;
  width: 50%;
  margin: 0px;
  float: right;
}

.album-logo img {
  width: 100%;
}

/* .album {
  height: 430px;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.album-text {
  font-size: 30px;
  color: #1c2938;
} */

footer {
  margin-top: 40px;
  text-align: center;
  background-color: #1c2938;
  font-size: 25px;
  color: #ff9f85;
}

/* .copyright {
  padding: 10px;
  margin-block-end: 0em;
} */

/* .album-img {
  max-width: 400px;
  max-height: 400px;
} */

.custom-toggler.navbar-toggler {
  border-color: #ff9c91;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#ff9c91' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@keyframes logo-animation {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
}
/*
@keyframes img-scale {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
} */

@keyframes header-li-animation {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 0.8em;
  }

  .float-right {
    width: 65%;
  }
}

/* color: #ff9f85; */
/* color: #cd3f3e; */
/* font-family: 'Gloria Hallelujah', cursive; */
/* font-family: 'Gochi Hand', cursive; */
/* font-family: 'Kalam', cursive; */
